<%- include('./partials/header') %>

    <form>
        <div class="container">
            <h1>Compose</h1>
            <input type="text">
            <button type="submit">PUBLISH</button>
        </div>
    </form>

    <%- include('./partials/footer') %>