<%- include('./partials/header') %>


    <div class="contact-us-section">
        <h1>CONTACT US</h1>

        <ul>
            <li>
                <strong>Email:</strong> aashishdhiman88@gmail.com
            </li>
            <li>
                <strong>LinkedIn:</strong> <a
                    href="https://www.linkedin.com/in/aashish-dhiman/">linkedin.com/in/aashish-dhiman</a>
                <p>Connect with Aashish on LinkedIn to stay updated with his professional profile, experience, and
                    latest projects.</p>
            </li>
            <li>
                <strong>Twitter:</strong> <a href="https://twitter.com/aashish_dhimaan">twitter.com/aashish_dhimaan</a>
                <p>Follow Aashish on Twitter to get insights, updates, and engaging discussions on technology,
                    development, and more.</p>
            </li>
            <li>
                <strong>GitHub:</strong> <a href="https://github.com/aashish-dhiman">github.com/aashish-dhiman</a>
                <p>Explore Aashish's GitHub profile to discover his open-source contributions, projects, and code
                    repositories.</p>
            </li>
        </ul>
    </div>


    <%- include('./partials/footer') %>