.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}

main {
    min-height: 100vh;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
    bottom: 0;
    left: 0;
}

.footer p {
    padding-top: 20px;
    font-size: 12px;
}
a {
    font-size: 12px;
}

.btn {
    background-color: #1abc9c;
}

.btn:hover {
    background-color: #12806a;
}
